<%- include header %>
<br/> 
<form method="post" action="./ask">  
    <table align="center">  
        <tr>
            <td align="right">标题:</td>  
            <td><input type="text" name="title"/></td>  
        </tr>  
        <tr>  
            <td align="right">分类:</td>  
            <td>  
                <select name="type"/>  
                <option value="1">javascript</option>  
                <option value="2">php</option>  
                <option value="3">pathon</option>  
                <option value="4">java</option>  
                <option value="5">mysql</option>  
                <option value="6">ios</option>  
                <option value="7">android</option>  
                <option value="8">node.js</option>  
                <option value="9">html5</option>  
                <option value="10">lunux</option>  
                <option value="11">c++</option>  
                <option value="12">其他</option>  
                </select>  
            </td>  
        </tr>  
        <tr>  
            <td align="right">
            </td>  
        </tr>  
        <tr>  
            <td align="right" valign="top">内容:</td>  
            <td>  
                <textarea id="content" name="content" cols="120" rows="9"></textarea>  
            </td>  
        </tr>  
        <tr>
            <td colspan="2" align="center">  
                <input type="hidden" name="subflag" value="1"/>  
                <input type="submit" value="提问"/>  
            </td>  
        </tr>  
    </table>  
    </form>  
  </body>  
</html> 